.mainMenuList {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 1rem;
  gap: 1rem;
}

.mainMenuItem {
  color: var(--color-text-grey);
  font-weight: 700;
  text-transform: uppercase;
  padding: 1rem 0;
  display: block;
}

.mainMenuItem a:global(.active) {
  border-bottom: 2px solid var(--color-text-default);
  color: var(--color-text-default);
}
