.cartProduct {
  border-bottom: 1px solid var(--color-text-default);
  display: flex;
  gap: 1rem;
  margin-bottom: 1rem;
  padding-bottom: 1rem;
}

.cartProductBox:nth-child(2) {
  flex: 1;
}

.cartProductSubBox {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.cartProductSubBoxText {
  flex: 1;
}

.cartProductPhoto {
  width: 85px;
  height: 140px;
}

.cartProductPhotoImg {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.cartProductTitle {
  font-size: var(--font-size-default);
  margin-bottom: 0.5rem;
}

.cartProductPrice {
  font-weight: 700;
}

.cartProductIconText {
  margin-left: 0.2rem;
  font-size: 0.8rem;
}

.cartButtonAction {
  display: flex;
  background: none;
  border: none;
}
